body, html {
  height: 100%;
}
.container{
  height: 100%;
}
.wallpaper {
   background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
   background-size: cover;
   background-repeat: no-repeat;
 }
#header {
   padding: 10em 0 1em 0 ;
   background-attachment: scroll;
 }
h1 {
  color: white;
}
p {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
strong {
  color: #014AA8;
}
.progress {
 width: 80%;
}
.progress-bar {
  background-color: #001E5C;
}
h2 {
  color: white;
}
.col-10 {

}
