body, html {
  height: 100%;
}
.container-fluid {
  padding: 80px 100px;
  height: 100%;
}
.imgcover {
  width: 100%;
}
.img-icon-size{
  max-width: 100px;
  max-height: 100px;
}
.navbar-rights{
  padding-right: 100px;
}
#myCarousel {
  padding: 0;
}
ul {
  list-style-type: none;
}
li {
  position: inherit;
}
.float-left {
  float: left;
  margin:0px;
 }
 .card {
  box-shadow: 0 5px 8px 1px rgba(0,0,0,0.3);
  transition: 0.3s;
  border: 2px solid #046ca3;
  border-radius: 7px;
  padding-bottom:3px;
  padding-top: 3px;
 width: 19rem;
 position: relative;
 }

 .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

 .card-border {
   border-radius: 5px;
 }
 .card-title {
  font-size: 18px;
 }
 .card-text {
   font-size: 14px;
 }
 .wallpaper {
   background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
   background-size: cover;
   height: 100%;
 }
